* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%; // 1rem = 10px

  // Podemos criar variáveis globais
  --color-primary-100: #e6f6ff;
  --color-primary-200: #bae8ff;
  --color-primary-400: #38bdf8;
  --color-primary-600: #0284c7;
  --color-primary-800: #075985;

  --white: #fff;
  --gray-200: #e0e0e0;
  --gray-400: #bdbdbd;
  --gray-800: #424242;
  --black: #000;

  /* width */
  --w-100: 100%;
}

body {
  background: var(--color-primary-100);
  color: var(--gray-800);
  font: 400 1.6rem "Roboto", sans-serif; // 1.6rem
  min-height: 100vh;
}

main {
  max-width: 75rem;
  margin: 0 auto;
}

section {
  margin-bottom: 3.6rem;
}

h1 {
  font-size: 2.4em;
  line-height: 1.1;
  margin: 0.5em 0;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
  margin: 0.5em 0;
  border-bottom: 1px solid #646cff;
}

// Podemos criar classes globais

// Margins
.m-auto {
  margin: auto;
}

.m-4 {
  margin: 0.4rem; // 4px
}
.mb-4 {
margin-bottom: 0.4rem; // 4px
}
.mt-4 {
  margin-top: 0.4rem; // 4px
}
.mt-8 {
  margin-top: 0.8rem; // 8px
}

.m-8 {
  margin: 0.8rem; // 8px
}
.mb-8 {
  margin-bottom: 0.8rem; // 8px
}

.m-16 {
  margin: 1.6rem; // 16px
}
.mb-16 {
  margin-bottom: 1.6rem; // 16px
}
.mt-16 {
  margin-top: 1.6rem; // 16px
}

// Paddings
.p-4 {
  padding: 0.4rem; // 4px
}
.ptb-4 {
  padding: 0.4rem 0; // 4px
}
.prl-4 {
  padding: 0 0.4rem; // 4px
}

.p-8 {
  padding: 0.8rem; // 8px
}
.ptb-8 {
  padding: 0.8rem 0; // 8px
}
.prl-8 {
  padding: 0 0.8rem; // 8px
}

.p-16 {
  padding: 1.6rem; // 16px
}
.ptb-16 {
  padding: 1.6rem 0; // 16px
}
.prl-16 {
  padding: 0 1.6rem; // 16px
}

.p-24 {
  padding: 2.4rem; // 24px
}
.ptb-24 {
  padding: 2.4rem 0; // 24px
}
.prl-24 {
  padding: 0 2.4rem; // 24px
}

// Display
.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center2 {
  display: flex;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.block {
  display: block;
}

.image-100 {
  width: 100%;
  max-width: 10rem;
}

.gap-4 {
  gap: 0.4rem;
}

.gap-8 {
  gap: 0.8rem;
}

.gap-16 {
  gap: 1.6rem;
}

.grid {
  display: grid;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}


.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

// Text
.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: 700;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

// TEXT COLORS

.text-white {
  color: var(--white);
}

.text-gray-200 {
  color: var(--gray-200);
}

.text-gray-400 {
  color: var(--gray-400);
}

.text-gray-800 {
  color: var(--gray-800);
}

.text-black {
  color: var(--black);
}

// BACKGROUND COLORS

.primary-100 {
  background-color: var(--color-primary-100);
}

.primary-200 {
  background-color: var(--color-primary-200);
}

.primary-400 {
  background-color: var(--color-primary-400);
}

.primary-600 {
  background-color: var(--color-primary-600);
}

.primary-800 {
  background-color: var(--color-primary-800);
}


// Borders
.border {
  border: 1px solid var(--gray-200);
}

.border-radius {
  border-radius: 0.4rem;
}

.border-radius-8 {
  border-radius: 0.8rem;
}

.border-radius-16 {
  border-radius: 1.6rem;
}

.border-radius-24 {
  border-radius: 2.4rem;
}

img {
  max-width: 200px;
}


