body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

footer,
header {
  height: 100px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

main {
  padding: 80px 50px 20px;
  background-color: #f5f5f5;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 5px;
  margin-top: 50px;
}

h3 {
  font-size: 20px;
  background-color: #fff;
  text-transform: uppercase;
  padding: 10px 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

#altera-cor {
  height: 50px;
  width: 200px;
  margin-bottom: 20px;
  background-color: red;
  cursor: pointer;
}
